
{{ $leaderboard := . }}
{{ if len .Params.times }}
	<div class="table table--wide content-body">
		<table class="leaderboard-table table__data table--striped">
			<thead>
				<tr>
					<th class="leaderboard-table__position-column"><abbr title="Position">#</abbr></th>
					<th class="leaderboard-table__main-column">Person</th>
					<th class="leaderboard-table__time-column">Time</th>
					<th class="leaderboard-table__awards-column">Awards</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Params.times }}
					<tr id="person-{{ .person | urlize }}">
						<td class="leaderboard-table__position-column">{{ .position | default "-" }}</td>
						<td class="leaderboard-table__main-column"><a href="/people/{{ .person | urlize }}/">{{ .person }}</a></td>
						<td class="leaderboard-table__time-column">
							{{ if not .isPending }}
								{{ partial "time.html" . }}
							{{ else }}
								-
							{{ end }}
						</td>
						<td class="leaderboard-table__awards-column">
							{{ if not .isPending }}
								<ul class="leaderboard-table__awards">
									{{ $totalSeconds := .totalSeconds }}
									{{ range where (where $.Site.RegularPages "Section" "people") "Title" .person }}
										{{ $permalink := .RelPermalink }}
										{{ if and .Params.best (eq .Params.best.totalSeconds $totalSeconds) }}
											<li class="leaderboard-table__award">
												<a href="{{ $permalink }}">
													<img src="/icons/best.svg" alt="{{ .Title }}'s best time" class="leaderboard-table__award-icon" title="{{ .Title }}'s best time" />
												</a>
											</li>
										{{ end }}
										{{ if .Params.awards }}
											{{ range .Params.awards }}
												{{ if eq (index .dates 0) $leaderboard.Title }}
													<li class="leaderboard-table__award">
														<a href="{{ $permalink }}#award-{{ .type }}">
															<img src="/awards/{{ .type }}.svg" alt="{{ .text }}" class="leaderboard-table__award-icon" title="{{ .text }}" />
														</a>
													</li>
												{{ end }}
											{{ end }}
										{{ end }}
									{{ end }}
								</ul>
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
{{ end }}
