
{{ if len .Params.times }}
	<div class="table table--wide content-body">
		<table class="leaderboard table__data table--striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Params.times }}
					<tr>
						<td><a href="/leaderboards/{{ .date | urlize }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" .date }}</a></td>
						<td>
							{{ if .time }}
								{{ .time.minutes }}:{{ if lt .time.seconds 10 }}0{{ end }}{{ .time.seconds }}
								{{ if and $.Params.best (eq $.Params.best.fullTimeInSeconds .fullTimeInSeconds) }}
									<span class="leaderboard__best" title="Best time">
										⭐️ <span class="hidden">Best time</span>
									</span>
								{{ end }}
							{{ else }}
								-
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
{{ end }}
