
{{ if len .Params.times }}
	<div class="table table--wide content-body">
		<table class="leaderboard-table table__data table--striped">
			<thead>
				<tr>
					<th class="leaderboard-table__main-column">Date</th>
					<th class="leaderboard-table__time-column">Time</th>
					<th class="leaderboard-table__position-column"><abbr title="Position">#</abbr></th>
					<th class="leaderboard-table__awards-column">Awards</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Params.times }}
					{{ $leaderboard := .leaderboard }}
					<tr>
						<td class="leaderboard-table__main-column"><a href="/leaderboards/{{ .leaderboard | urlize }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" .leaderboard }}</a></td>
						<td class="leaderboard-table__time-column">
							{{ if not .isPending }}
								{{ partial "time.html" . }}
							{{ else }}
								-
							{{ end }}
						</td>
						<td class="leaderboard-table__position-column">{{ .position | default "-" }}</td>
						<td class="leaderboard-table__awards-column">
							{{ if not .isPending }}
								<ul class="leaderboard-table__awards">
									{{ if and $.Params.best (eq $.Params.best.totalSeconds .totalSeconds) }}
										<li class="leaderboard-table__award">
											<img src="/icons/best.svg" alt="{{ $.Title }}'s best time" class="leaderboard-table__award-icon" title="{{ $.Title }}'s best time" />
										</li>
									{{ end }}
									{{ if $.Params.awards }}
										{{ range $.Params.awards }}
											{{ if in .dates $leaderboard }}
												<li class="leaderboard-table__award">
													<a href="#award-{{ .type }}">
														<img src="/awards/{{ .type }}.svg" alt="{{ .title }}: {{ .text }}" class="leaderboard-table__award-icon" title="{{ .title }}: {{ .text }}" />
													</a>
												</li>
											{{ end }}
										{{ end }}
									{{ end }}
								</ul>
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
{{ end }}
