
{{ if len .Params.times }}
	<div class="table table--wide content-body">
		<table class="leaderboard table__data table--striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Params.times }}
					<tr>
						<td><a href="/leaderboards/{{ .leaderboard | urlize }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" .leaderboard }}</a></td>
						<td>
							{{ if .time }}
								{{ partial "time.html" .time }}
								{{ if and $.Params.best.time (eq $.Params.best.time.totalSeconds .time.totalSeconds) }}
									<span class="leaderboard__best" title="Best time">
										⭐️ <span class="hidden">Best time</span>
									</span>
								{{ end }}
							{{ else }}
								-
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
{{ end }}
