
// Award list block
.award-list {
	@extend %base-typography;

	list-style: none;
	padding-left: 0;
	margin-left: 0;
	display: flex;
	flex-wrap: wrap;

	@media (max-width: $layout-width-small-mobile) {
		display: block;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

// Award list award element
.award-list__award {
	font-size: var(--font-size-small);
	width: 33%;
	padding-right: var(--spacing-line);
	margin-bottom: var(--spacing-line);

	@media (max-width: $layout-width-mobile) {
		width: 50%;
	}
	@media (max-width: $layout-width-small-mobile) {
		width: auto;
	}
}

// Award list link element
.award-list__award,
.award-list__award-link {
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
}

// Award list award icon element
.award-list__award-icon {
	display: block;
	position: relative;
	margin-right: var(--spacing-half-line);

	> img {
		display: block;
	}
}

// Award list count element
.award-list__count {
	display: block;
	position: absolute;
	bottom: calc(-1 * var(--spacingvalue-xs));
	right: -2px;
	background-color: var(--colorvalue-blue);
	color: var(--colorvalue-white);
	border-radius: var(--spacing-half-line);
	padding: 0 var(--spacingvalue-xxs);
	font-size: var(--font-size-xs);
}

// Award list description element
.award-list__award-description {
	a {
		@extend %link;
		text-decoration: underline;
	}
}

// Award list title element
.award-list__award-title {
	font-weight: bold;

	> a {
		text-decoration: none !important;
		color: inherit !important;
	}
	> a:hover,
	a:hover & {
		text-decoration: underline !important;
	}
}

// Award list unlock element
.award-list__award-unlock {
	white-space: nowrap;
}
