
// Leaderboard table block
.leaderboard-table {
	td,
	th {
		vertical-align: top;
	}
}

// Leaderboard table column element widths
.leaderboard-table__main-column {
	max-width: 60%;
}
.leaderboard-table__time-column,
.leaderboard-table__position-column,
.leaderboard-table__count-column {
	max-width: 20%;
	text-align: center !important;
}
.leaderboard-table__time-column,
.leaderboard-table__count-column {
	width: 6ch;
}
.leaderboard-table__position-column {
	width: 3ch;
}
.leaderboard-table__awards-column {
	width: 40%;
	padding-bottom: 0 !important;
}

// Leaderboard table awards element
.leaderboard-table__awards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;

	> li {
		display: inline-block;
		margin-right: var(--spacingvalue-xs);
		margin-bottom: var(--spacing-rule);
	}
}

// Leaderboard table award element, "duplicate" modifier
.leaderboard-table__award--duplicate {
	transform: scale(0.69);
}

// Leaderboard table award icon element
.leaderboard-table__award-icon {
	width: var(--spacing-line);
	display: block;
}
