
{{ define "main" }}

	<div class="content-body">
		<h1>{{ .Title }}</h1>
		{{ if .Content }}
			{{ .Content }}
		{{ end }}
	</div>

	{{ if len .Pages }}
		<ol class="content-list content-list--tiled">
			{{ $pages := sort .Pages (.Params.sort.property | default "Title") (.Params.sort.direction | default "asc") }}
			{{ range $pages }}
				{{ $permalink := .RelPermalink }}
				<li class="card">
					<a href="{{ $permalink }}" class="card__name">{{ .Title }}</a>
					<ul class="card__meta">
						{{ with .Params.best }}
							<li>Best {{ partial "time.html" . }}</li>
						{{ end }}
						{{ with .Params.median }}
							<li>Average {{ partial "time.html" . }}</li>
						{{ end }}
					</ul>
					<ul class="card__awards">
						{{ range .Params.awards }}
							<li class="card__award">
								<a href="{{ $permalink }}#award-{{ .type }}">
									<img src="/awards/{{ .type }}.svg" alt="{{ .text }}" class="card__award-icon" title="{{ .text }}" />
								</a>
							</li>
						{{ end }}
					</ul>
				</li>
			{{ end }}
		</ol>
	{{ end }}

{{ end }}
