
{{ define "main" }}

	<div class="content-body">
		<h1>{{ .Title }}</h1>
		<p>
			Viewing times for {{ .Title }}.
			{{ with .Params.best }}
				Their best ever time is {{ partial "time.html" . }}
				on <a href="/leaderboards/{{ .leaderboard | urlize }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" .leaderboard }}</a>.
			{{ end }}
			{{ with .Params.median }}
				Their average time is {{ partial "time.html" . }}.
			{{ end }}
		</p>
	</div>

	{{ if .Params.awards }}
		<div class="content-body">
			<h2 id="awards">Awards ({{ .Params.awardCount }})</h2>
		</div>
		<ul class="award-list">
			{{ range .Params.awards }}
				<li class="award-list__award" id="award-{{ .type }}">
					<a href="/awards/{{ .type }}/#person-{{ $.Title | urlize }}" class="award-list__award-icon">
						<img src="/awards/{{ .type }}.svg" alt="{{ .title }} Award" />
						{{ if gt (len .dates) 1 }}
							<span class="award-list__count">×{{ len .dates }}</span>
						{{ end }}
					</a>
					<span class="award-list__award-description">
						<strong class="award-list__award-title"><a href="/awards/{{ .type }}/#person-{{ $.Title | urlize }}">{{ .title }}:</a></strong>
						{{ .text }}.
						{{ if len .dates }}
							{{ $unlock := index .dates 0 }}
							<a class="award-list__award-unlock" href="/leaderboards/{{ $unlock }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" $unlock }}</a>
						{{ end }}
					</span>
				</li>
			{{ end }}
		</ul>
	{{ end }}

	<div class="content-body">
		<h2 id="times">Times</h2>
	</div>
	{{- partial "person-times-table.html" . -}}

	{{- partial "next-prev.html" . -}}

{{ end }}
