
{{ define "main" }}

	<h1>{{ .Title }}</h1>

	<p>
		Viewing times for {{ .Title }}.
		{{ with .Params.best }}
			Their best ever time is {{ .time.minutes }}:{{ if lt .time.seconds 10 }}0{{ end }}{{ .time.seconds }}
			on <a href="/leaderboards/{{ .date | urlize }}/">{{ dateFormat "Jan 2 2006" .date }}</a>.
		{{ end }}
		{{ with .Params.average.time }}
			Their average time is {{ .minutes }}:{{ if lt .seconds 10 }}0{{ end }}{{ .seconds }}.
		{{ end }}
	</p>

	{{- partial "person-times-table.html" . -}}

{{ end }}
