
{{ define "main" }}

	<div class="content-body">
		<h1>{{ .Title }}</h1>
		<p>
			Viewing times for {{ .Title }}.
			{{ with .Params.best }}
				Their best ever time is {{ .time.minutes }}:{{ if lt .time.seconds 10 }}0{{ end }}{{ .time.seconds }}
				on <a href="/leaderboards/{{ .date | urlize }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" .date }}</a>.
			{{ end }}
			{{ if .Params.average.fullTimeInSeconds }}
				{{ with .Params.average.time }}
					Their average time is {{ .minutes }}:{{ if lt .seconds 10 }}0{{ end }}{{ .seconds }}.
				{{ end }}
			{{ end }}
		</p>
	</div>

	{{ if len .Params.awards }}
		<div class="content-body">
			<h2 id="awards">Awards</h2>
		</div>
		<ul class="award-list">
			{{ range .Params.awards }}
				<li class="award-list__award">
					<img src="/awards/{{ .type }}.svg" alt="{{ .text }}" class="award-list__award-icon" />
					<span>
						{{ .text }}.
						{{ if .date }}
							<br/>
							<a href="/leaderboards/{{ .date }}/#person-{{ $.Title | urlize }}">{{ dateFormat "Jan 2 2006" .date }}</a>
						{{ end }}
					</span>
				</li>
			{{ end }}
		</ul>
	{{ end }}

	<div class="content-body">
		<h2 id="times">Times</h2>
	</div>
	{{- partial "person-times-table.html" . -}}

{{ end }}
