
<header role="banner">

	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

	<nav role="navigation">
		<ul>

			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
				{{ $isMenuCurrent := $currentPage.IsMenuCurrent "main" . }}
				{{ $hasMenuCurrent := $currentPage.HasMenuCurrent "main" . }}
				{{ $parentIsCurrent := false }}
				{{ if $currentPage.Parent }}{{ $parentIsCurrent = $currentPage.Parent.IsMenuCurrent "main" . }}{{ end }}
				<li {{if or $isMenuCurrent $hasMenuCurrent $parentIsCurrent }}aria-selected="true"{{end}}>
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
			{{ end }}

		</ul>
	</nav>

</header>
