
<header role="banner" class="header">
	<div class="header__inner">

		<a href="{{ .Site.BaseURL }}" class="header__site-name">{{ .Site.Title }}</a>

		<nav role="navigation" class="header__navigation">
			<ul>

				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
					{{ $isMenuCurrent := $currentPage.IsMenuCurrent "main" . }}
					{{ $hasMenuCurrent := $currentPage.HasMenuCurrent "main" . }}
					{{ $parentIsCurrent := false }}
					{{ if $currentPage.Parent }}{{ $parentIsCurrent = $currentPage.Parent.IsMenuCurrent "main" . }}{{ end }}
					<li class="header__navigation-item {{if or $isMenuCurrent $hasMenuCurrent $parentIsCurrent }}header__navigation-item--selected{{end}}">
						<a href="{{ .URL }}">{{ .Name }}</a>
					</li>
				{{ end }}

			</ul>
		</nav>

	</div>
</header>

<aside class="alert">
	This website is no longer updated.
	It relied on the New York Times crossword leaderboard being available on a web page and it no longer is as of 2025-05-21.
	Thanks for getting involved! The website will be left as-is.
</aside>